body {
  margin: 0;
  padding: 0;
  background: #e74c3c !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

header {
  display: flex;
  align-items: center;
  background-color: white;
}

header h1 {
  color: black;
  text-shadow: 1px 1px #353b48;
}
.img-container {
  background-color: white;
  width: calc(200px + 0.1vh);
  height: calc(200px + 0.1vh);
  margin: 0 auto 5%;
}

.hidden {
  visibility: hidden;
}
